<!-- wp:template-part {"slug":"header","theme":"greenleaf-blog","tagName":"header"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/header-001"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/content-003"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/layout-002"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/content-001"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/cta-003"} /-->

<!-- wp:pattern {"slug": "greenleaf-blog/cta-002"} /-->

<!-- wp:template-part {"slug":"footer","theme":"greenleaf-blog","area":"footer"} /-->